---
import en from '../../../data/locales/home/en/index';
import es from '../../../data/locales/home/es/index';
import SubscribeForm from '../../molecules/SubscribeForm.vue';
import DownloadFileButton from '../../organisms/DownloadFileButton';

import { getLangFromUrl } from '../../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = lang == 'en' ? en : es;
---

<section
  class="web-banner bg-[url('/img/recepcion-ancora.jpg')] bg-contain bg-right-top relative h-[400px] flex items-center"
>
  <div
    class="web-container z-10 relative text-anc-secondary-light grid lg:grid-cols-2 items-center"
  >
    <div class="flex flex-col gap-4">
      <div class="flex items-center text-2xl font-serif gap-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="33"
          height="43"
          viewBox="0 0 33 43"
          fill="none"
        >
          <path
            d="M28.7622 5.375H26.9957C26.4349 4.19922 25.2292 3.61133 23.3786 3.61133H17.995V1.76367C17.995 0.587891 17.4061 0 16.2285 0C15.0508 0 14.462 0.587891 14.462 1.76367V3.61133H9.07836C7.22774 3.61133 6.02204 4.19922 5.46125 5.375H3.69475C2.68532 5.375 1.83011 5.73893 1.12912 6.4668C0.428132 7.19466 0.0776367 8.0905 0.0776367 9.1543V39.3887C0.0776367 40.3965 0.428132 41.2503 1.12912 41.9502C1.83011 42.6501 2.68532 43 3.69475 43H28.7622C29.7716 43 30.6268 42.6361 31.3278 41.9082C32.0288 41.1803 32.3793 40.2845 32.3793 39.2207V9.1543C32.3793 8.0905 32.0288 7.19466 31.3278 6.4668C30.6268 5.73893 29.7716 5.375 28.7622 5.375ZM9.91955 7.13867H22.5374C23.0982 7.13867 23.3786 7.44661 23.3786 8.0625C23.3786 8.67839 23.0982 8.98633 22.5374 8.98633H9.91955C9.35876 8.98633 9.07836 8.67839 9.07836 8.0625C9.07836 7.44661 9.35876 7.13867 9.91955 7.13867ZM28.7622 39.3887H3.69475V8.98633H5.46125C5.51733 9.26628 5.62948 9.60221 5.79772 9.99414C5.96596 10.3861 6.37253 10.904 7.01745 11.5479C7.66236 12.1917 8.34933 12.5137 9.07836 12.5137H23.3786C25.3974 12.5137 26.6031 11.3379 26.9957 8.98633H28.7622V39.3887Z"
            fill="#5E747F"></path>
        </svg>
        {t.brochure.title}
      </div>
      <span style="text-wrap: balance;" class="text-white">
        {t.brochure.description}
      </span>
      <DownloadFileButton client:load href="/files/ANCORA-espanol.pdf">
        <span class="underline flex items-center gap-2 text-anc-accent-light">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
          >
            <g clip-path="url(#clip0_686_3555)">
              <path
                d="M17.4375 8.9999C17.4375 5.31553 15.1031 2.19365 11.8125 1.04053V16.9593C15.1031 15.8062 17.4375 12.6843 17.4375 8.9999Z"
                fill="#ED4C5C"></path>
              <path
                d="M0.5625 8.9999C0.5625 12.6843 2.925 15.8062 6.1875 16.9593V1.04053C2.925 2.19365 0.5625 5.31553 0.5625 8.9999Z"
                fill="#75A843"></path>
              <path
                d="M11.8125 1.04063C10.9406 0.73125 9.98438 0.5625 9 0.5625C8.01562 0.5625 7.05937 0.73125 6.1875 1.04063V16.9594C7.05937 17.2687 8.01562 17.4375 9 17.4375C9.98438 17.4375 10.9406 17.2687 11.8125 16.9594V1.04063Z"
                fill="white"></path>
              <path
                d="M11.4469 8.91582C11.4187 8.83145 11.3906 8.94395 11.3906 8.97207C11.3906 8.8877 11.3625 8.83145 11.3062 8.74707C11.2219 8.83145 11.1937 8.94395 11.1937 9.05645C11.1656 8.97207 11.1375 8.8877 11.0531 8.85957C11.1094 8.94395 11.0812 9.0002 11.0812 9.08457C11.0812 9.19707 11.1656 9.28145 11.1656 9.39395C11.1656 9.50645 11.1094 9.59082 11.025 9.6752V9.59082C10.7437 9.70332 10.8 9.84395 10.8 10.0971C10.8 10.3502 10.6594 10.2939 10.4906 10.4346C10.5187 10.3783 10.5187 10.2939 10.4906 10.2377C10.4906 10.4064 10.2656 10.4064 10.2375 10.5471C10.2094 10.6033 10.2375 10.7158 10.1531 10.7439C10.0969 10.7721 10.0125 10.8283 10.0125 10.8846C9.95625 10.8564 9.9 10.8564 9.81562 10.8564C9.84375 10.8283 9.87187 10.8283 9.9 10.8002C9.61875 10.6596 9.53437 10.9689 9.28125 10.9971C9.19687 10.9971 9 10.8846 9 10.9971C9.25312 10.9971 9.36562 11.2221 9.5625 11.2221C9.73125 11.2221 9.87187 11.0814 10.0406 11.0814C10.0125 11.0814 9.92812 11.0252 9.84375 11.0252C9.98437 10.9408 10.0687 10.7721 10.2375 10.7721C10.5187 10.7721 10.6594 10.7158 10.7437 10.4346C10.7156 10.4346 10.6875 10.4346 10.6594 10.4627C10.6594 10.3502 10.7719 10.2096 10.8844 10.1533C11.1656 10.0971 11.1375 9.87207 11.3062 9.6752C11.25 9.6752 11.1937 9.70332 11.1375 9.75957C11.1375 9.59082 11.1094 9.42207 11.25 9.30957C11.5312 9.16894 11.5031 9.1127 11.4469 8.91582ZM6.55312 8.91582C6.49687 9.14082 6.46875 9.19707 6.69375 9.3377C6.8625 9.4502 6.80625 9.61895 6.80625 9.7877C6.75 9.73145 6.72187 9.70332 6.6375 9.70332C6.80625 9.87207 6.77812 10.1252 7.05937 10.1814C7.14375 10.2377 7.28437 10.3783 7.28437 10.4908C7.25625 10.4908 7.22812 10.4627 7.2 10.4627C7.28437 10.7439 7.425 10.8002 7.70625 10.8002C7.875 10.8002 7.95937 10.9689 8.1 11.0533C8.01562 11.0533 7.93125 11.0814 7.90312 11.1096C8.07187 11.1096 8.2125 11.2783 8.38125 11.2502C8.57812 11.2502 8.71875 11.0252 8.94375 11.0252C8.94375 10.9127 8.74687 11.0252 8.6625 11.0252C8.4375 10.9689 8.35312 10.6877 8.04375 10.8002C8.07187 10.8283 8.1 10.8564 8.12812 10.8564C8.07187 10.8564 7.9875 10.8283 7.93125 10.8846C7.90312 10.8283 7.84687 10.7721 7.79062 10.7439C7.73437 10.6877 7.73437 10.6033 7.70625 10.5471C7.65 10.4064 7.45312 10.3783 7.45312 10.2377C7.425 10.2939 7.425 10.3783 7.45312 10.4346C7.28437 10.2939 7.14375 10.3502 7.14375 10.0971C7.14375 9.87207 7.2 9.70332 6.91875 9.59082V9.6752C6.83437 9.59082 6.77812 9.53457 6.77812 9.39395C6.77812 9.28145 6.89062 9.19707 6.8625 9.08457C6.8625 9.0002 6.83437 8.94395 6.89062 8.85957C6.80625 8.8877 6.77812 8.97207 6.75 9.05645C6.75 8.94395 6.72187 8.83145 6.6375 8.74707C6.60937 8.80332 6.58125 8.8877 6.55312 8.97207C6.58125 8.91582 6.55312 8.83145 6.55312 8.91582Z"
                fill="#75A843"></path>
              <path
                d="M9.75938 10.6032C9.70313 10.6032 9.675 10.547 9.64688 10.5188C9.64688 10.4626 9.87188 10.4063 9.9 10.4063V10.3501C9.53438 10.4626 8.4375 10.547 8.2125 10.1532C8.1 10.322 7.90313 10.2095 7.70625 10.0688C7.73438 10.1251 7.84688 10.4063 7.84688 10.3782C7.90313 10.4063 8.26875 10.4907 8.26875 10.5751L8.18438 10.6595C8.775 10.8563 9.14063 10.9126 9.75938 10.6032Z"
                fill="#428BC1"></path>
              <path
                d="M9.39375 10.6034C9.42188 10.5752 9.42188 10.5471 9.42188 10.4909L9.39375 10.4065C9.45 10.3502 9.39375 10.2096 9.30937 10.2377C9.25312 10.2659 9.28125 10.2659 9.225 10.2377C9.19687 10.2377 9.19687 10.2096 9.16875 10.2096H8.6625C8.60625 10.2096 8.60625 10.1815 8.55 10.1815C8.49375 10.1534 8.46563 10.2096 8.4375 10.2377C8.4375 10.294 8.46563 10.294 8.46563 10.3221C8.46563 10.3502 8.4375 10.3784 8.4375 10.4346C8.4375 10.4909 8.46563 10.519 8.49375 10.5471C8.38125 10.6315 8.49375 10.7721 8.60625 10.6877C8.63438 10.744 8.71875 10.744 8.80312 10.744H9.1125C9.16875 10.744 9.28125 10.7721 9.30937 10.6877C9.39375 10.8284 9.50625 10.6596 9.39375 10.6034Z"
                fill="#ED4C5C"></path>
              <path
                d="M10.2937 9.87208C10.0687 9.59083 9.95625 10.0127 9.70312 9.98458C9.75937 9.64708 9.25312 9.75958 9.1125 9.84395C9.14062 9.81583 9.16875 9.75958 9.19687 9.70333C9.08437 9.70333 8.94375 9.75958 8.85937 9.6752C8.69062 9.5627 8.46562 9.50645 8.325 9.70333C8.2125 9.53458 7.90312 9.36583 7.73437 9.53458C7.73437 9.36583 7.56562 9.1127 7.36875 9.14083C7.14375 9.16895 7.22812 9.4502 7.34062 9.5627C7.425 9.64708 7.5375 9.6752 7.65 9.6752C7.65 9.73145 7.67812 9.75958 7.70625 9.7877C7.84687 9.9002 8.12812 9.92833 8.26875 9.81583C8.26875 10.0971 8.83125 10.0971 8.97187 9.95645C8.91562 10.0971 8.85937 10.3783 9.05625 10.3783C9.225 10.3783 9.16875 10.2096 9.30937 10.1533C9.42187 10.0971 9.5625 10.069 9.675 10.1252C9.87187 10.2377 10.4906 10.2096 10.2937 9.87208Z"
                fill="#428BC1"></path>
              <path
                d="M7.98749 9.16884C7.95937 9.11259 7.90312 9.05634 7.90312 9.05634C7.79062 9.08447 7.79062 9.00009 7.76249 8.91572C7.73437 8.77509 7.53749 8.71884 7.53749 8.60634C7.53749 8.49384 7.64999 8.38134 7.56562 8.26884C7.48124 8.15634 7.34062 8.10009 7.34062 8.15634C7.31249 8.21259 7.45312 8.21259 7.45312 8.35322C7.45312 8.52197 7.28437 8.66259 7.48124 8.80322C7.59374 8.97197 7.59374 9.28134 7.79062 9.28134C7.87499 9.28134 7.95937 9.25322 7.98749 9.16884Z"
                fill="#75A843"></path>
              <path
                d="M8.40936 9.02812C8.35311 8.91562 8.40936 8.74687 8.29686 8.6625C8.15624 8.55 7.87499 8.775 7.84686 8.49375C7.84686 8.4375 8.15624 8.1 8.21249 8.07187C8.29686 7.95938 8.26874 7.7625 8.18436 7.70625C8.07186 7.65 8.04374 7.70625 7.95936 7.81875C7.98749 7.84687 8.09999 7.90312 8.09999 7.93125C8.01561 8.12813 7.76249 8.15625 7.70624 8.35313C7.64999 8.49375 7.67811 8.71875 7.81874 8.80312C7.90311 8.85937 7.95936 8.85937 8.04374 8.85937C8.29686 8.83125 8.15624 8.8875 8.18436 8.94375C8.18436 9 8.26874 9.19687 8.40936 9.02812ZM7.56561 7.65C7.56561 7.81875 7.73436 7.79062 7.84686 7.7625C7.84686 7.70625 7.84686 7.65 7.87499 7.59375C7.81874 7.62187 7.73436 7.62187 7.70624 7.59375C7.62186 7.5375 7.90311 7.425 7.87499 7.425C7.87499 7.425 7.59374 7.56562 7.70624 7.39687C7.73436 7.34062 7.79061 7.28438 7.81874 7.22813C7.84686 7.17188 7.73436 7.22813 7.73436 7.22813C7.70624 7.22813 7.67811 7.22812 7.64999 7.25625C7.48124 7.39687 7.53749 7.48125 7.56561 7.65Z"
                fill="#75A843"></path>
              <path
                d="M10.5469 7.65C10.4062 7.45313 9.87187 6.80625 9.1125 6.75C9.02812 6.75 8.80312 6.83437 8.71875 6.8625C8.46562 7.03125 9 7.17187 9.02812 7.28437C9.02812 7.34062 9.05625 7.36875 9.05625 7.425C8.97187 7.28437 8.8875 7.2 8.85937 7.14375C8.71875 7.2 8.49375 7.11562 8.46562 6.975C8.4375 7.03125 8.4375 7.05937 8.38125 7.11562C8.38125 7.03125 8.35312 7.03125 8.325 6.975C8.325 7.05937 8.325 7.17188 8.24062 7.2C8.26875 7.14375 8.24062 7.0875 8.2125 7.03125C8.2125 7.11562 8.2125 7.17188 8.15625 7.22813C8.18437 7.17188 8.12812 7.14375 8.12812 7.0875C8.1 7.3125 7.79062 7.39688 8.1 7.48125C8.2125 7.50938 8.26875 7.48125 8.38125 7.5375C8.40937 7.56562 8.46562 7.62187 8.46562 7.59375C8.46562 7.62187 8.35312 7.73438 8.4375 7.7625C8.40937 7.79063 8.325 7.95937 8.325 7.95937C8.40937 7.95937 8.35312 8.01563 8.29687 8.07188C8.2125 8.2125 8.29687 8.35312 8.325 8.52187C8.325 8.46562 8.40937 8.55 8.40937 8.63438C8.40937 8.74688 8.52187 8.80313 8.55 8.8875C8.40937 8.74688 8.38125 8.8875 8.55 8.97187C8.40937 8.97187 8.38125 9.05625 8.52187 9.1125C8.18437 9.1125 8.46562 9.25312 8.52187 9.28125C8.74687 9.3375 8.91562 9.16875 8.91562 9.14062C8.91562 9.14062 9.36562 9.59062 9.39375 9.59062C9.42187 9.59062 9.64687 9.47813 9.70312 9.53438C9.75937 9.61875 9.81562 9.53437 9.87187 9.5625C9.92812 9.61875 10.1531 9.5625 10.2094 9.53438C10.2375 9.53438 10.5187 9.47813 10.4625 9.42188C10.3219 9.30938 10.1531 9.19687 10.0125 9.08437C9.87187 8.97187 9.73125 8.8875 9.61875 8.775C9.5625 8.71875 9.5625 8.60625 9.53437 8.52187C9.7875 8.775 10.0406 8.91563 10.0125 8.4375C10.1812 8.57812 10.5187 9.36562 10.5469 9.36562C10.6312 9.36562 10.5469 8.52188 10.5469 8.4375C10.6594 8.55 10.6594 9.47813 10.6875 9.47813C10.8281 9.50625 11.025 8.26875 10.5469 7.65Z"
                fill="#89664C"></path>
              <path
                d="M8.52188 9.08428C8.49376 9.08428 8.35313 8.8874 8.35313 8.85928C8.43751 9.19678 8.10001 8.9999 8.18438 8.85928C8.07188 8.83115 7.79063 8.9999 7.90313 9.16865C7.84688 9.28115 8.29688 9.19678 8.32501 9.14053C8.43751 9.39365 8.71876 9.1124 8.52188 9.08428ZM9.84376 9.92803C9.98438 9.73115 9.39376 9.6749 9.45001 9.4499C9.36563 9.50615 9.25313 9.70303 9.14063 9.64678C9.08438 9.61865 8.85938 9.75928 8.97188 9.84365C8.97188 9.73115 9.02813 9.81553 9.11251 9.7874C9.08438 9.87178 9.00001 9.95615 9.14063 10.0124C9.08438 9.84365 9.30938 9.92803 9.28126 9.84365C9.22501 9.7874 9.47813 9.7874 9.50626 9.7874C9.59063 9.7874 9.87188 9.87178 9.75938 9.95615C9.75938 9.95615 9.81563 9.95615 9.84376 9.92803ZM7.95938 7.50928C7.93126 7.56553 7.81876 7.6499 7.81876 7.73428C7.81876 7.79053 7.95938 7.93115 8.01563 7.84678C7.84688 7.73428 8.04376 7.6499 8.12813 7.6499C8.15626 7.6499 8.15626 7.70615 8.15626 7.70615C8.18438 7.73428 8.40938 7.6499 8.38126 7.59365C8.40938 7.48115 8.04376 7.48115 7.95938 7.50928Z"
                fill="#FFCE31"></path>
            </g>
            <defs>
              <clipPath id="clip0_686_3555">
                <rect width="18" height="18" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
          {t.brochure.spanish}
          {'>'}</span
        >
      </DownloadFileButton>
      <DownloadFileButton client:load href="/files/ANCORA-English.pdf">
        <span class="underline flex items-center gap-2 text-anc-accent-light">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
          >
            <g clip-path="url(#clip0_686_3572)">
              <path
                d="M13.5 1.85625C12.1781 1.04063 10.6594 0.5625 9 0.5625V1.85625H13.5Z"
                fill="#ED4C5C"></path>
              <path
                d="M9 3.1502H15.075C14.5969 2.67207 14.0625 2.22207 13.5 1.85645H9V3.1502Z"
                fill="white"></path>
              <path
                d="M9 4.44365H16.1156C15.8062 3.96553 15.4688 3.54365 15.1031 3.1499H9V4.44365Z"
                fill="#ED4C5C"></path>
              <path
                d="M9 5.7376H16.7906C16.5938 5.2876 16.3687 4.8376 16.1156 4.44385H9V5.7376Z"
                fill="white"></path>
              <path
                d="M9 7.03105H17.2125C17.1 6.58105 16.9594 6.15918 16.7906 5.7373H9V7.03105Z"
                fill="#ED4C5C"></path>
              <path
                d="M9 8.35332H17.4094C17.3813 7.90332 17.2969 7.48145 17.2125 7.05957H9V8.35332Z"
                fill="white"></path>
              <path
                d="M17.4094 8.35303H9V8.9999H0.5625C0.5625 9.2249 0.5625 9.42178 0.590625 9.64678H17.4094C17.4375 9.42178 17.4375 9.2249 17.4375 8.9999C17.4375 8.7749 17.4375 8.5499 17.4094 8.35303Z"
                fill="#ED4C5C"></path>
              <path
                d="M0.787497 10.9407H17.2125C17.325 10.5188 17.3813 10.097 17.4094 9.64697H0.590622C0.618747 10.0688 0.674997 10.5188 0.787497 10.9407Z"
                fill="white"></path>
              <path
                d="M1.20938 12.2342H16.7906C16.9594 11.8123 17.1 11.3904 17.2125 10.9404H0.787506C0.900006 11.3904 1.04063 11.8123 1.20938 12.2342Z"
                fill="#ED4C5C"></path>
              <path
                d="M1.88438 13.5281H16.1156C16.3688 13.1062 16.5938 12.6844 16.7906 12.2344H1.20938C1.40626 12.6844 1.63126 13.1062 1.88438 13.5281Z"
                fill="white"></path>
              <path
                d="M2.89687 14.8221H15.1031C15.4687 14.4283 15.8344 13.9783 16.1156 13.5283H1.88437C2.16562 14.0064 2.53124 14.4283 2.89687 14.8221Z"
                fill="#ED4C5C"></path>
              <path
                d="M4.47188 16.1155H13.5281C14.1188 15.7499 14.625 15.2999 15.1031 14.8218H2.89688C3.37501 15.328 3.90938 15.7499 4.47188 16.1155Z"
                fill="white"></path>
              <path
                d="M9 17.4376C10.6594 17.4376 12.2063 16.9595 13.5281 16.1157H4.47188C5.79375 16.9595 7.34063 17.4376 9 17.4376Z"
                fill="#ED4C5C"></path>
              <path
                d="M4.5 1.85625C3.90937 2.22187 3.375 2.67188 2.89688 3.15C2.50313 3.54375 2.16562 3.99375 1.88437 4.44375C1.63125 4.86562 1.37813 5.2875 1.20938 5.7375C1.04063 6.15937 0.9 6.58125 0.7875 7.03125C0.675 7.45312 0.61875 7.875 0.590625 8.325C0.5625 8.55 0.5625 8.775 0.5625 9H9V0.5625C7.34062 0.5625 5.82188 1.04062 4.5 1.85625Z"
                fill="#428BC1"></path>
              <path
                d="M7.03125 0.84375L7.17188 1.26562H7.59375L7.25625 1.54688L7.36875 1.96875L7.03125 1.71562L6.69375 1.96875L6.80625 1.54688L6.46875 1.26562H6.89063L7.03125 0.84375ZM8.15625 2.53125L8.29688 2.95312H8.71875L8.38125 3.23438L8.49375 3.65625L8.15625 3.40313L7.81875 3.65625L7.93125 3.23438L7.59375 2.95312H8.01563L8.15625 2.53125ZM5.90625 2.53125L6.04688 2.95312H6.46875L6.13125 3.23438L6.24375 3.65625L5.90625 3.40313L5.56875 3.65625L5.68125 3.23438L5.34375 2.95312H5.76563L5.90625 2.53125ZM7.03125 4.21875L7.17188 4.64062H7.59375L7.25625 4.92188L7.36875 5.34375L7.03125 5.09063L6.69375 5.34375L6.80625 4.92188L6.46875 4.64062H6.89063L7.03125 4.21875ZM4.78125 4.21875L4.92188 4.64062H5.34375L5.00625 4.92188L5.11875 5.34375L4.78125 5.09063L4.44375 5.34375L4.55625 4.92188L4.21875 4.64062H4.64063L4.78125 4.21875ZM2.53125 4.21875L2.67188 4.64062H3.09375L2.75625 4.92188L2.86875 5.34375L2.53125 5.09063L2.19375 5.34375L2.30625 4.92188L1.96875 4.64062H2.39063L2.53125 4.21875ZM8.15625 5.90625L8.29688 6.32812H8.71875L8.38125 6.60938L8.49375 7.03125L8.15625 6.77813L7.81875 7.03125L7.93125 6.60938L7.59375 6.32812H8.01563L8.15625 5.90625ZM5.90625 5.90625L6.04688 6.32812H6.46875L6.13125 6.60938L6.24375 7.03125L5.90625 6.77813L5.56875 7.03125L5.68125 6.60938L5.34375 6.32812H5.76563L5.90625 5.90625ZM3.65625 5.90625L3.79688 6.32812H4.21875L3.88125 6.60938L3.99375 7.03125L3.65625 6.77813L3.31875 7.03125L3.43125 6.60938L3.09375 6.32812H3.51563L3.65625 5.90625ZM7.03125 7.59375L7.17188 8.01562H7.59375L7.25625 8.29688L7.36875 8.71875L7.03125 8.46563L6.69375 8.71875L6.80625 8.29688L6.46875 8.01562H6.89063L7.03125 7.59375ZM4.78125 7.59375L4.92188 8.01562H5.34375L5.00625 8.29688L5.11875 8.71875L4.78125 8.46563L4.44375 8.71875L4.55625 8.29688L4.21875 8.01562H4.64063L4.78125 7.59375ZM2.53125 7.59375L2.67188 8.01562H3.09375L2.75625 8.29688L2.86875 8.71875L2.53125 8.46563L2.19375 8.71875L2.30625 8.29688L1.96875 8.01562H2.39063L2.53125 7.59375ZM3.31875 3.65625L3.65625 3.40313L3.99375 3.65625L3.85313 3.23438L4.19063 2.95312H3.76875L3.65625 2.53125L3.51563 2.95312H3.12188L3.45938 3.20625L3.31875 3.65625ZM1.06875 7.03125L1.40625 6.77813L1.74375 7.03125L1.60313 6.60938L1.94063 6.32812H1.54688L1.40625 5.90625L1.26563 6.32812H0.984378C0.984378 6.35625 0.956253 6.38437 0.956253 6.4125L1.18125 6.58125L1.06875 7.03125Z"
                fill="white"></path>
            </g>
            <defs>
              <clipPath id="clip0_686_3572">
                <rect width="18" height="18" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
          {t.brochure.english}
          {'>'}</span
        >
      </DownloadFileButton>

      <SubscribeForm client:load />
    </div>
  </div>
  <div
    class="w-full bg-anc-secondary lg:rounded-r-full absolute left-0 lg:left-[-600px] h-[400px] top-0"
  >
  </div>
</section>
<div class="web-banner block lg:hidden">
  <img class="w-full" src="/img/recepcion-ancora.jpg" alt="recepción ancora" />
</div>
