---
import Title from "../atoms/Title.astro";

interface Props {
  img: string;
  title: string;
  text: string;
}
const { img, title, text, paragraphSize } = Astro.props;
---
<div class="flex flex-col gap-20 py-4">
  <div class="rounded-tl-sm rounded-br-sm bg-white rounded-[30px] grid sm:grid-cols-2 gap-8 sm:gap-0">
    <div class="flex flex-col gap-8 p-5">
      <Title variant="accent" class="text-lg sm:text-xl">
        <span class="text-anc-accent">{title}</span>
      </Title>
      <div class="text-2xl font-bold">
        {text}
      </div>
    </div>
    <img class="justify-self-end hidden md:block" src={img} alt="Espíritu de servicio" />
  </div>
</div>