---
import Title from "../atoms/Title.astro";

interface Props {
  img: string;
  name: string;
  description: string;
}
const { img, name, description } = Astro.props;

---
<div class="sm:flex gap-10 text-center sm:text-left">
  <img src={img} width="130" height="130" alt="Imagen responsabilidad social" class="mx-auto sm:mx-0">
  <div>
    <div class="hidden sm:block">
      <Title variant="accent" class="text-lg sm:text-xl">
        <span class="text-anc-accent">{name}</span>
      </Title>
    </div>
    <div class="sm:hidden">
      <Title variant="accent" class="text-lg sm:text-xl" barPosition="center">
        <span class="text-anc-accent">{name}</span>
      </Title>
    </div>
    <p class="pt-4" set:html={description} />
  </div>
</div>
<div class="mt-3 border-bottom"></div>
<style>
    .border-bottom {
        border-bottom: solid 1px;
        border-color: rgb(121 120 126 / 50%);
    }
</style>